@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font(Playfair Display) from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  background-color: #FFFFFF;
}

::-webkit-scrollbar {
  display: none;
}

.mobile-menu {
  transition: transform 0.5s ease-in-out;
  transform-origin: top;
  transform: translateY(-100%);
}

@layer base {
  /* body {
    @apply bg-secondary overflow-hidden leading-relaxed;
  }
  .page {
    @apply w-full h-screen overflow-hidden;
  } */
  .h1 {
    @apply text-[60px] leading-[1.875] font-serif font-bold;
  }
  .h2 {
    @apply text-[42px] leading-[1.875] font-serif font-bold;
  }
  .h3 {
    @apply text-[30px] leading-[1.875] font-serif font-bold;
  }
  .h4 {
    @apply text-[23px] leading-[1.875] font-serif font-bold;
  }
  .h5 {
    @apply text-[20px] leading-[1.875] font-serif font-bold;
  }
  .h6 {
    @apply text-[16px] leading-[1.875] font-serif font-bold;
  }

  .p {
    @apply text-[16px] leading-[1.875] font-normal;
  }

  .blockquote {
    @apply text-[19px] leading-[1.52] font-serif font-normal w-full rounded-lg bg-primaryLight p-7;
  }

  .btn-secondary {
    @apply bg-primaryLight font-semibold h-max w-max rounded-lg px-7 py-4 flex
    sm:flex-col cursor-pointer hover:bg-primary hover:text-white
    transition-all duration-300  ease-in-out
  } 

  .btn-primary {
    @apply bg-primary/90 text-white font-semibold h-max w-max rounded-lg px-6 py-4 flex
    sm:flex-col cursor-pointer hover:bg-yellow-700
    transition-all duration-300  ease-in-out
  } 

  .link-text {
    @apply h4 hover:text-primary cursor-pointer transition-all duration-300  ease-in-out
  }
}
